<div class="page" appModalImages>
  <h2>Chimäre <em>2014-2018</em></h2>
  <p>Series of 55 combinations of insects and miniature model figures</p>
  <!-- <p>Description</p> -->
  <br />
  <app-masonry #masonry>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/butterbambee.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/chimci.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/deerbug.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/dragonfly.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/flusskrabbler.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/flussschnaake.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/goldfliegenfalter.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/hummel.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/chimera/sailer.jpg"
      />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/1.JPG" />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/2.JPG" />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/3.JPG" />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/4.JPG" />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/5.JPG" />
    </div>

    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img (load)="imageLoaded($event)" src="/assets/images/chimera/6.JPG" />
    </div>
  </app-masonry>
</div>
