<!-- <app-three-d-heading text="Clay Body"></app-three-d-heading> -->

<div class="page">
  <h2>Clay Body <em>2015 - 2017</em></h2>

  <p>
    Der Titel kann im deutschsprachigem Raum irreführend wirken, so übersetzt
    man diesen wörtlich meist in Ton und Körper, wortwörtlich jedoch heißt es
    nichts anderes als Tonmaterial, beschreibt damit die formbare Grundmasse,
    die den Kernpunkt des vielschichtigen Kunstexkurses bietet. Es Resultierte
    ausgehend von einer Performance eine Serie aus Tonobjekten, Eisobjekten,
    Videos, Fotografien, es handelt sich um ein emotionales zwischenmenschliches
    Projekt, ist vielschichtig und unter anderem als soziale Skulptur zu sehen.
  </p>
  <h3>Compact Relics</h3>
  <app-masonry #objects appModalImages>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/1.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/2.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/3.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/4.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/5.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/6.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/7.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/8.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/9.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliquien/a.jpg"
      />
    </div>
  </app-masonry>

  <h3>Melting Memories</h3>

  <app-masonry #melting appModalImages>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/melting/detail.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/melting/memories.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/melting/memory.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/melting/momory-melt.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/melting/ursprung.jpg"
      />
    </div>
  </app-masonry>

  <br />

  <p>
    Die Tonobjekte sind Relikte der Begegnung von mindestens zwei Personen. In
    einer Performance formen diese ein Objekt mit ihren Körpern ohne den Einsatz
    ihrer Hände, mit denen Abstand geschaffen würde. Die Performance endet, wenn
    die Formenden das Objekt als „schön“, als fertig, betrachten. Das noch
    weiche Tonobjekt fungiert in dieser Begegnung als Katalysator für die
    Performer, gleichsam als deren Trennung und Verbindung. Die Essenz steckt im
    Erleben, das Material intensiviert das Spüren, die Haut als größtes
    Sinnesorgan verbindet uns mit unseren Emotionen. Der Kontakt zu einer
    weiteren Person ist nah und intim, ohne dass es dabei zwangsläufig um
    Sexualität geht. Dies beinhaltet ebenso einen karthartischen Moment: die
    eigenen Grenzen erkennen, betrachten, erforschen und neu zu setzen. Die
    Berührungen schütten körpereigene Drogen aus: Endorphine, Oxitocin…; das
    reguliert den Cortisolspiegel und leitet in ein Gefühl der Ausgeglichenheit,
    des Wohlbefindens.
    <br />
    Das entstandene Objekt als Resultat stellt die Summe aller Berührungen, die
    kompakte Aufnahme der zwischenmenschlichen Begegnung dar. Entzieht man es
    dem Prozess, behält es seine Form, konserviert die gesamten Informationen
    und kann kann betrachtet werden. In der Betrachtung der Tonform novellieren
    sich die Gefühle bei denjenigen, die bei der Entstehung Teil davon waren.
    Zusammen betrachtet erinnern die Objekte an Körperteile, Bewegungen sind zu
    erahnen, Haut und Haarabdrücke zu erkennen. Auch die Assoziation mit
    Gebeinen kann hervorgerufen werden.
  </p>

  <p>
    Betrachten wir das Material aus einer mythologischen Sicht, eröffnen sich
    viele Assoziationen: Die Genesis - im Christentum schafft Gott die ersten
    Menschen aus Tonerde, aus Lehm, und haucht diesen Bewusstsein ein. Im
    Hinduismus begegnen wir der Schöpfungsgeschichte Ganeshas, geformt von
    seiner Mutter Parvati aus Lehm. Auch der Golem, eine keramische Skulptur,
    die zum Leben erwacht, sobald man dieser einen geschrieben Auftrag
    injiziert, ist vielen ein Begriff.
  </p>
  <h3>Genesung</h3>
  <img
    class="full"
    (load)="imageLoaded($event)"
    src="/assets/images/clay-body/genesis.png"
  />

  <br />

  <p>
    An der Performance Clay Body nahmen bis heute insgesamt 55 Personen teil,
    die Künstlerin stellte verschiedene Gruppen zusammen. Der Fokus hierbei lag
    auf der Beziehung, der Vertrautheit der Personen. Bekannte und Unbekannte,
    Freunde, Verwandte oder in einer Liebesbeziehung stehende Personen oder auch
    gemischte Gruppen von zwei bis elf Personen performten unter Beobachtung.
    „Ähnliche Bewegungsmuster bei sich über lange Zeit vertrauten Personen
    faszinierten mich, es gab deutliche Unterschiede, manche fokussierten sich
    auf das Gestalten des Objektes, andere gingen tänzerisch mit dem Material
    um, versuchten, jeden Zentimeters des eigenen Körpers mit dem Objekt zu
    formen. Manche konzentrierten sich auf das Spüren, vergaßen das Objekt, das
    sich wie im Fluss zwischen den Körpern bewegte. Manchmal ist es einfacher,
    sich auf so eine eigenartige besondere Erfahrung einzulassen, wenn man sich
    nicht kennt, oder es ist einfacher, spielerisch spaßig in der Performance zu
    interagieren, wenn eine Freundschaft die Vertrautheit unterstützt. Was mich
    jedoch besonders freute, war die Tatsache, dass jedes mal, wenn ich
    bestimmte Personen miteinander agieren lies, in einer bestimmten Erwartung
    der Verhaltensweise, immer etwas ganz anderes geschah.“
  </p>
  <p>
    Der Druck der Beobachtung stieg stetig, so wurden die ersten „Sessions“
    akustisch aufgezeichnet, die Folgenden mit Standkameras, bis hin zu einem
    Filmteam mit vier professionellen Kameraleuten und begleitendem
    Fotoshootings; scharfe schneidende Blitzlichter umgaben die Teilnehmer auf
    der Bühne. Das Interesse der Künstlerin lag dabei auf der Frage, was sich
    durch die wachsende Selbstverständlichkeit der Dokumentation, der
    Überwachung, im Verhalten der Teilnehmer verändert. „Manche fühlten sich
    sicher durch das professionelle Setting.“ Die Gespräche mit den Akteuren
    waren für die Künstlerin wichtig. „Interessant finde ich auch immer wieder
    die Gespräche mit Personen, die Lust haben, an der Erfahrung teil zu nehmen,
    doch dies aus dem Grund der Überwachung nicht machen möchten, aus Angst
    durch von kommerziellen Schönheitsidealen abweichenden Körperformen oder die
    Tatsache, dass sie das Risiko, auf irgendwelchen Internetseiten
    aufzutauchen, nicht eingehen wollen.“
  </p>
  <p>
    Der Blick von Außen Ähnlich der Vorgaben in der Performance, bei der die Art
    der Interaktion frei gestellt ist, waren auch die Vorgaben an das
    Kamerateam. Die Bitte: die Beobachtung der Performance aufzunehmen. Im Team
    inbegriffen ein professioneller Kameramann von Deutschem Film und Fernsehen,
    ein Kameramann spezialisiert auf Business to Business Produktionen der
    Automobilindustrie, eine Performance Künstlerin, ein Video-Künstler und ein
    Hobbyfilmer. Der Fotokünstler André Wagner wurde exklusiv eingeladen, in
    seiner charakteristische Handschrift Bilder von der Aktion zu erschaffen.
  </p>

  <p>
    „Es entstanden weitere Aspekte und Betrachtungswinkel auf das, was geschah.
    Der Blick durch die Linse filtert das, was vor den Augen aller stattfindet,
    zeigt den Blick der außenstehenden Person, die dieses aufzeichnet.“
  </p>
  <p>
    Die Fotografien des renommierten Künstlers Andre Wagners erinnern durch ihre
    dramatische Licht- und Schattensetzung an Gemälde des Malers Carravagio,
    sein Blickwinkel, die Konstellation und der Bildaufbau rufen in manch einem
    Assoziationen mit Deckengemälden in Kirchen hervor. <br />
    Die Künstlerin Julia Dorothea von Schottky reagierte auf die Fotografien,
    bearbeitete sie digital:
  </p>
  <h3>Dissolution</h3>
  <app-masonry #pics appModalImages>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/dissolution.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/klumpen.jpg"
      />
    </div>
    <!-- <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/reliqie.jpg"
      />
    </div> -->
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/clay-body/wolke.jpg"
      />
    </div>
  </app-masonry>

  <br /><br />
</div>
