<div class="page" appModalImages>
  <h2>Muttermilchseife <em>2015</em></h2>
  <p>Installation (variable size)</p>
  <p>
    Hand washing basin with eleven breast-shaped pieces of soap made from the
    breast milk of eleven women.<br />
    Visitors are invited to try the soap on site.
  </p>
  <br />
  <app-masonry #masonry>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8028.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8032.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8042.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8049.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8052.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8061.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8064.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8073.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8080.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8088.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/DSC8095.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/spitaele120702.jpg"
      />
    </div>
    <div
      #gridItem
      class="grid-item"
      appScrollTo
      [ratio]="0.4"
      (inViewport)="inViewportChange($event)"
    >
      <img
        (load)="imageLoaded($event)"
        src="/assets/images/Muttermilchseife/spitaele120703.jpg"
      />
    </div>
  </app-masonry>
</div>
