<!-- <app-three-d-heading text="Artist CV"></app-three-d-heading> -->
<div class="page">
  <h2>Artist CV</h2>
  <p>
    Julia Dorothea von Schottky <br />

    *1991 Werneck, Germany <br />
    lives and works in Berlin <br />
  </p>

  <h3>EDUCATION</h3>

  <ul>
    <li>
      <span class="year">2008 - 2012</span><br />
      Education in product design (staatlich geprüfte Produktdesignerin 2012)
    </li>
    <li>
      <span class="year">2013 - 2014</span><br />
      Studies of product design at Kunsthochschule Berlin Weißensee
    </li>
    <li>
      <span class="year">2014 - 2019</span><br />
      Studies of sculpturing and fine arts at Kunsthochschule Berlin Weißensee
    </li>
  </ul>
  <br />

  <h3>
    EXHIBITIONS
  </h3>
  <ul>
    <li>
      <span class="year">2019</span> <br />
      “Meanwhile Elsewhere” Galerie Irrgang, Berlin <br />

      <!-- <img src="images/GustavAdolfKircheClayBody.jpg" alt="" /> -->
      "Atependum" Gustav Adolf Kirche, Berlin <br />

      "Perfekte Zustände" Xlane, Berlin <br />
    </li>
    <li>
      <span class="year">2018</span> <br />
      “Body ́n Soul- time to expose”, Spitäle- Ausstellungsgalerie des VKU,
      Würzburg <br />
      “Tun und Lassen” Greenhouse, Berlin <br />
      “das Gift”, Berlin <br />
    </li>
    <li>
      <span class="year">2017</span> <br />
      “u.A.w.G”, MAJOLIKA MANUFAKTUR KARLSRUHE, Karlsruhe <br />
      “u.A.w.G”, 404 | BERLIN ART INSTITUTE, Berlin <br />
      “Flora trifft Fauna”, der Blumenladen, Werneck <br />
    </li>
    <li>
      <span class="year">2016</span> <br />
      Nacht der Kultur Schweinfurt, Schweinfurt <br />
      Rundgang der Kunsthochschule Berlin Weißensee, Berlin <br />
      „rien ne va plus“, Kunsthalle der Sparkassenstiftung Lüneburg,
      KulturBäckerei, Lüneburg <br />
      “Die Bilder der Anderen”, Kommunale Galerie Berlin, Berlin <br />
    </li>
    <li>
      <span class="year">2015</span> <br />
      “Haut Niveau”, KUNSTHALLE am Hamburger Platz, Berlin <br />
      “Haut Niveau”, City Cube Berlin, Berlin <br />
      Rundgang der Kunsthochschule Berlin Weißensee, Berlin <br />
      “die gelbe Gefahr”, Kunsthalle am Hamburger Platz, Berlin Rundgang
      Weißensee, Berlin <br />
      “Muggensturm am Müggelsee”, Galerie Alte Schule Adlashof, Berlin <br />
    </li>

    <li>
      <span class="year">2014</span> <br />
      “Ausstellung 1”, Galerie Fahrradbüro, Berlin <br />
      “UTA”, Kunsthalle am Hamburger Platz, Berlin <br />
      “3 Jahre Phantasiewerkstatt”, Galerie Goldnuss, Bogen <br />
      Rundgang der Kunsthochschule Berlin Weißensee, Berlin <br />
    </li>
  </ul>
</div>
